@tailwind base;
@tailwind components;
@tailwind utilities;

 /* 强制隐藏滚动条（适用于Chrome、Edge 和 Safari） */
/* body::-webkit-scrollbar {  
  display: none;
} */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow-x: hidden; */
  /* font-size: 1vw; */
}

@font-face {
  font-family: 'Cyberpunk';
  src: url('/fonts/Hacked-KerX.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 768px) {
  html {
    font-size: 14px; /* 在小屏幕设备上缩小字体 */
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px; /* 在更小的屏幕上进一步缩小字体 */
  }
}